{
    "presets": [
        "es2015",
    ],
    "plugins": [
        ["../", {
            "approximate": true,
            "globals": [
                "Error",
                "Array",
            ],
        }],
    ],
}
